<div class='homepageContent'>
  <div class="jumbo" id='homeHero'>
    <div class= "navbar-area">
      <%= render 'shared/header' %>
    </div>
    <section id="main">
        <div class="row showcase">
          <h1 class="text-center v-center">Streamline Ads!</h1>
          <div class="buttons">
            <a href='/personal'><button type="button" class="customer-type btn btn-default btn-outline btn-white">Personal</button></a>
            <a href='/business'><button type="button" class="customer-type btn btn-default btn-outline btn-white">Business</button></a>
          </div>
        </div>
        <div class="row desc">
          <br>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2 text-center"><img src="http://ilanfilonenko.com/FinTech/image/receipt.png" class="homepageimage"><h3>Simplify Contracts</h3></div>
            </div>
          </div>
            <div class="col-sm-4 text-center">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center"><img src="http://ilanfilonenko.com/FinTech/image/chart.png" class="homepageimage"><h3>Increase Productivity</h3></div>
              </div>
          </div>
            <div class="col-sm-4 text-center">
              <div class="row">
                <div class="col-sm-10 text-center"><img src="http://ilanfilonenko.com/FinTech/image/people.png" class="homepageimage"><h3>Handle more Customers</h3></div>
              </div>
          </div>
        </div>
    </section>
  </div>
</div>
