<!DOCTYPE html>
<html>
<head>
  <title>Ithaca Voice</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% unless params[:nojs] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>